Flow2
[
    {
        "id": "da56a94a.8ec9b8",
        "type": "tab",
        "label": "Flow 3"
    },
    {
        "id": "5ad3a23.6be765c",
        "type": "inject",
        "z": "da56a94a.8ec9b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "29ca8f7b.c543f"
            ]
        ]
    },
    {
        "id": "29ca8f7b.c543f",
        "type": "function",
        "z": "da56a94a.8ec9b8",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"n1v9mF3HT09tvnd8\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "3e57ca35.e59d46",
                "f351a75a.8d0228"
            ]
        ]
    },
    {
        "id": "3e57ca35.e59d46",
        "type": "http request",
        "z": "da56a94a.8ec9b8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DsUk0YFo/datachannels/Humidity/datapoints.csv",
        "tls": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "c54ab5a3.103498",
                "73dcd7ea.de22b8"
            ]
        ]
    },
    {
        "id": "c54ab5a3.103498",
        "type": "http response",
        "z": "da56a94a.8ec9b8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "73dcd7ea.de22b8",
        "type": "debug",
        "z": "da56a94a.8ec9b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "f351a75a.8d0228",
        "type": "http request",
        "z": "da56a94a.8ec9b8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.mediatek.com/mcs/v2/devices/DsUk0YFo/datachannels/Temperature/datapoints.csv",
        "tls": "",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "c54ab5a3.103498",
                "73dcd7ea.de22b8"
            ]
        ]
    }
]
